@import './roadmap.css';

:root {
  --basic-color: #ce9e10;
  --dark-color: #161717;
  --white-color: #fff;
  --light-color: #ebe7e7;
}
body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* For background particle */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #0e0c0c;
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  height: 1100px !important;
  z-index: -1;
}

/* Header/Navbar */
.navbar-default-color {
  background-color: #eaeaea00;
}
.navbar-color-onscroll {
  background-color: var(--dark-color);
}
header .hero {
  margin-top: 100px !important;
  background-color: #219b2f00 !important;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  border-bottom: 3px solid var(--basic-color);
}
.navbar {
  transition: 2s ease ;
  z-index: 100;
}
.navbar-expand-md .navbar-collapse {
  flex-grow: 0;
}

header .hero img, 
.roadmap-hero img,
footer img {
  animation: floatUpDown 4s linear 4s infinite alternate
}
@keyframes floatUpDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}


/* Main */
.market-section {
  background-color: #00000000;
}
hr:not([size]) {
  width: 75px;
  margin: 0 auto !important;
  color: var(--basic-color);
  height: 4px !important;
}

.about-section {
  border: var(--dark-color);
}

.how-section {
  background-color: var(--dark-color);
  padding: 50px 0;
}
.how-section ul {
  list-style-type: none;
}
.how-section ul li::before {
  content: 'O ';
  color: var(--basic-color);
  position: relative;
  left: -25px;
  top: 30px;
}
.why-section {
  padding: 50px 0;
}

.join-section {
  padding: 125px 0;
  background-color: #ffeaa7;
  background-image: linear-gradient(315deg, #ffeaa7 0%, #000000 74%); 
}

.social-section .action-area a {
  text-decoration: none;
  color: var(--basic-color);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}



@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ce9e10,
    0 0 40px #ce9e10, 0 0 50px #ce9e10, 0 0 60px #ce9e10, 0 0 70px #ce9e10;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #b1b0aa, 0 0 40px #b1b0aa,
    0 0 50px #b1b0aa, 0 0 60px #b1b0aa, 0 0 70px #b1b0aa, 0 0 80px #b1b0aa;
  }
}

/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  height: 50px;
  width: 50px;
}



/* footer */
footer {
  background-color: var(--dark-color);
}



.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { 
  color: rgba(255, 255, 255, .5); 
}

.bg-purple { 
  background-color: #6f42c1; 
}

/* Responsiveness  */
@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #161717;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.16'%3E%3Cpolygon fill='%2345381d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23735922' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23a27928' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23d09a2d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FFBB33' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: transform 1s ease-in-out, visibility 1s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .canvas.particles-js-canvas-el {
    height: 1200px !important;
  }
}
